p {
    text-align: center;
    background-color: brown;
}

ul {
    color: blue;
    font-size: 20px;
}


i {
    font-family: sans-serif;
    color: rgb(0, 157, 255);
}

h1,h2,h3 
{
    text-align: center;
    background-color: aliceblue;
}

body {
    font-family: cambria;
    margin: auto;

}
